html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.gallery{
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    height: 100%;
}
.albums_wrapper{
   width: 25%;
   overflow-y: hidden;
   overflow-y: scroll;
   padding: 12px;
   border-right: 5px solid black ;
   
}
.photos_block{
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.album_item{
    margin: 15px 0;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 2px;
    cursor: pointer;
}
.album_active, .album_item:hover{
    border-color: indigo;
}
.album_photos{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.photo_item{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 200px;
}
.gallery_img{
    width: 100%;
}

.display_none{
    display: none;
}